/*===LAYOUT SECTION===*/
body{
background-color:#E9E4E4;
font-family:verdana, georgia, valken;
font-size: 14px
margin:0px;
}
.width{
width:80px;
}

#head{
		border:1px solid black;
		border-radius:5px;
		background-color:#262657;
		color:orange;
		text-align:center;
		padding: 4px 4px;
		height:100px;
		padding-top:40px;
		font-size:53px;
		}

#header{
background-color:white;
height:80px;
border-radius:5px;
margin:10px;
margin-left:0px;
margin-right:0px;
}

h3{
font-size:200%;
text-align:center;
color:#1F86EA;
font-family:valken;
margin:0px;
position:relative;
top: 50%;
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: TranslateY(-50%)
}

#navbar ul{
font-size:24px;
padding:5px;
list-style-type:none;
text-align:center;
border-radius:5px;
background-color:#000;
margin:10px;
margin-left:0px;
margin-right:0px;
}

#navbar ul li{
display:inline;
}

#navbar ul li a{
text-decoration:none;
font-family:valken;
padding: .2em 2em;
background-color:#000;
color:white;
} 

#navbar ul li a:hover{
color:black;
background:white;}


h2{
color:red;
}
#content{
font-size:22px;
background-color:white;
border-radius:5px;
margin-right:130px;
padding:10px;
margin-bottom:10px;
}

#sidebar{
background-color:white;
width:100px;
border-radius:5px;
padding:10px;
float:right;
margin-top:0px;
margin-bottom:10px;
clear:right;
}

.imagesidebar{
width:120px;
border-radius:5px;
float:right;
margin-top:0px;
margin-bottom:10px;
clear:right;
opacity:1.0;
transition:opacity 0.1s ease-in-out;

}
.imagesidebar:hover{
opacity:0.4;
}

h1{
color:#1F86EA;
font-size:180%;
Text-decoration:Underline;
}

#footer{
background-color:#1F86EA;
height:80px;
border-radius:5px;
margin:10px;
margin-left:0px;
margin-right:0px;
clear:both;
color:black;
text-align:center;
padding:15px;
font-size:70%;
}

#footer ul{
font-size:20px;
padding:5px;
list-style-type:none;
text-align:center;
border-radius:5px;
margin:10px;
margin-left:0px;
margin-right:0px;
}

#footer ul li{
display:inline;
}

#footer ul li a{
text-decoration:none;
font-family:valken;
padding: .1em 2.5em;
background-color:black;
color:#1F86EA;

} 

#footer ul li a:hover{
color:black;
background:white;}


@media (max-width: 700px) and (min-width: 600px){
#sidebar{
display:none;
}
body{
background-color:yellow;}


}

@media (max-width: 600px) and (min-width: 500px){
#sidebar{
display:none;
}
body{
background-color:white;}

h3{
color:brown;
}

#content{background-color:pink;}

}

socials{
display:inline;
}

#conten{
		border:1px solid #262657;
		border-radius:5px;
		background-color:white;
		color:black;
	    padding:10px;
	    padding-right:20px;
	    margin:auto auto;
	    width:800px;
	    text-align:left;
		}
	#conten ul li a{
		text-decoration:none;
		}
	#conten ul li{
		list-style-type:none;






















